$orange: #fba611;
$green: #8cb730;   
$blue: #1571f0;
$purple: #ee12fc;
$yellow: #fbc013;
$gray: #f5f5f5;
$dark: #333;
$lightDark: #aaaaab;
$light: #fefefe;    
$basetext: #656668;   
$red: #ff5139;
 
.orange { color: $orange; }   
.green { color: $green; } 
.blue { color: $blue; }
.purple { color: $purple; }
.yellow { color: $yellow; }
.gray, .grey { color: $gray; }  
.red { color: $red;}